
.intro h1,.intro h2, .intro h3{
    text-align:center;
}
td {vertical-align:top;}
td.heb,.hebrew-col {
    direction:rtl;
    unicode-bidi:bidi-override;
}
.hebrew-col, .braille-col{
    height:70vh;
    overflow:auto;
	   
}
.taam {background-color:lightgreen;}
.punct {background-color:pink;}
.tr-word,.br-word{
    border:1px solid transparent;
}
.highlight{
    background-color:yellow;
    border: 1px solid pink;
}
#brf-data{
    font-family:monospace;
    white-space:pre-line;
}
